:root {
  --error-text: #ff0000;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.empty,
.error {
  display: flex;
  justify-content: center;
}
.error {
  color: var(--error-text);
  font-weight: bold;
}
